## Clothing bin application info

NEXT_PUBLIC_APPLICATION_NAME=clothing_bin
NEXT_PUBLIC_VERSION=0.1.0

## Naver map API
## https://console.ncloud.com/naver-service/application

NEXT_PUBLIC_NAVER_CLIENT_ID=get client id from your application anthentication info in naver map



## Kakao map API
## https://developers.kakao.com/console/app/769825

NEXT_PUBLIC_KAKAOMAP_APPKEY=get javascript key from your application anthentication info in kakao developers


## Government Open api
## https://www.data.go.kr/iim/main/mypageMain.do

NEXT_PUBLIC_GO_DATA_BASE_URL=https://api.odcloud.kr/api
NEXT_PUBLIC_GO_DATA_ENCODING_KEY=
NEXT_PUBLIC_GO_DATA_DECODING_KEY=