NEXT_PUBLIC_APPLICATION_NAME=clothing_bin
NEXT_PUBLIC_VERSION=0.1.0


## naver map api
## https://console.ncloud.com/naver-service/application

NEXT_PUBLIC_NAVER_CLIENT_ID=get client id from your application anthentication info in naver map